<!--
<noscript>
	<div>
        <p>Unfortunately your browser does not hava JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:</p>
        <ol>
            <li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of <a href="http://www.getfirefox.com">Firefox</a>.</li>
            <li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site. <a href="http://www.google.com/support/bin/answer.py?answer=23852">Learn how to enable JavaScript</a>.</li>
        </ol>
    </div>
</noscript>
-->
<h1><strong>free</strong></h1>
<div class="coda-slider-wrapper">
	<div class="coda-slider preload" id="coda-slider-1">
		<div class="panel">
			<div class="panel-wrapper">
					<div class = "free round">
					  	  	<%= render 'shared/feed' %>
				<!--	 <%= link_to "View all", "#" %> -->
					</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-wrapper">
				<div class = "free round">
				  	  	<%= render 'shared/feed' %>
			<!--	 <%= link_to "View all", "#" %> -->
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-wrapper">
				<div class = "free round">
				  	  	<%= render 'shared/feed' %>
			<!--	 <%= link_to "View all", "#" %> -->
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-wrapper">
				<div class = "free round">
				  	  	<%= render 'shared/feed' %>
			<!--	 <%= link_to "View all", "#" %> -->
				</div>
			</div>
		</div>
	</div>
</div>

<h1><strong>cheap</strong></h1>
